{% extends 'header.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{% load crispy_forms_tags %} 
  
<!--Register--> 
<div class="container py-5">
  <h4 class="register-text">Register</h1>
  <hr>
  <br>
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <br>
  <button class="btn btn-primary" type="submit">Register</button>
</form>

<p class="existing-accouint-text">If you already have an account, <a href="/accounts/login">login</a> instead.</p>
</div>


{% endblock %}